.header{
    background-color: #fff;
}

.header-container{
    max-height: 90px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.search{
    width: 703px;
    margin-top: 14px;
    /* margin-left: 135px; */
    margin-left: 135px;
}

.search-input{
    width: 700px;
    height: 60px;
    border: none;
    border-radius: 18px;
    outline: none;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    background-color: #D9D9D9;
}

.menu-list{
    display: flex;
    gap: 12px;
    margin-top: 14px;
    /* margin  margin-right: 140px; */
    margin-right: 140px;
    max-height: 61px;
}

.menu-list__item{
    background-color: transparent;
    transition: .3s ease-in;
    border-radius: 8px;
}

.menu-list__item-like{
    padding: 19px 16px;
}

.menu-list__item-cart{
    padding: 16px 18px 16px 14px ;
}

.menu-list__item-user{
    padding: 15px 16px 17px 16px;
}

.menu-list__item:hover{
    cursor: pointer;
    background-color: #D9D9D9;
}

.menu-list__link{

}


.like-menu{
    margin: 0 auto;
    width: 820px;
    height: 600px;
    position: absolute;
    right: 100px;
    background-color: #fff;
    border-radius:0px 0 30px 30px;
    opacity: 0;
    transition: .5s ease;
    visibility: hidden;
}

.like-menu.active{
    transition: .5s ease;
    visibility:visible;
    opacity: 1;
    box-shadow: -13px 16px 8px -3px rgba(34, 60, 80, 0.21);
}

.title-like{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 30px;
}

.text-like{
    text-align: center;

    font-size: 18px;
    font-weight: 500;
    margin: 30px;
}

